include openBmap.desktop AUTHORS CHANGELOG
include ExitButton.png GenerateButton.png StopButton.png UploadButton.png Go-jump.png
include Main.glade
include gpl.txt lgpl.txt
include openBmap-desktop.png