[Desktop Entry]
Name=OBM
Comment=Logs GSM and GPS and uploads to openBmap.
Encoding=UTF-8
Version=0.4.0
Type=Application
Exec=openBmapGTK
Icon=openBmap-desktop
Terminal=true
Categories=GTK;Application;PIM
SingleInstance=true
StartupNotify=true
